<div class="hero hero-interior">
    <div class="container d-flex h-100 flex-column justify-content-center">
        <h1 class="hero__heading" id="page-title">{{ pageTitle}}</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.hero .hero-interior -->