<div class="hero hero-home">
    <div class="hero__btn-next" role="presentation"></div>
    <div class="container d-flex h-100 flex-column justify-content-center">
        <div class="row">
            <div class="col-md-6">

                <h1 class="hero__heading" id="page-title">
                    <span class="hero__heading-primary">Build Skills</span>
                    <span class="hero__heading-secondary">for <span class="font-italic">Your</span> Future</span>
                </h1>

                <div class="hero__lead">
                    <div class="wysiwyg">
                        <p>ECE offers a wide range of certificate programs and open enrollment courses — including online and hybrid options — for both professional development as well as personal enrichment.</p>
                    </div>
                    <!-- /.wysiwyg -->
                </div>
                <!-- /.hero__lead -->
                <a href="courses.html" class="btn btn-block btn-lg btn-secondary">Browse Our Courses</a>
                <a href="#" class="btn btn-block btn-lg btn-primary">RSVP to an Upcoming Info Session/Webinar</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.hero .hero-home -->