<div class="hero hero-home">
    <div class="container d-flex h-100 flex-column justify-content-center">
        <div class="row">
            <div class="col-md-6">

                <h1 class="hero__heading" id="page-title">
                    <span class="hero__heading-primary">{{ pageTitle}} - Hero Element</span>
                    <span class="hero__heading-secondary">Highlight <span class="font-italic">This</span> Text</span>
                </h1>

                <div class="hero__lead">
                    <div class="wysiwyg">
                        <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
                    </div>
                    <!-- /.wysiwyg -->
                </div>
                <!-- /.hero__lead -->
                <a href="#" class="btn btn-block btn-secondary">Call to Action</a>
                <a href="#" class="btn btn-block btn-primary">Call to Action with longer text</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.hero .hero-home -->
