// Search form
.search-form {
    margin-bottom:1.5rem;
    .form-control::placeholder {
        text-transform:uppercase;
    }
}

// Search results
.search-results,
.search-results__list {
    list-style:none;
    padding-left:0;
    margin-bottom:0;
}

.search-results {
    .search-results__heading {
        @include gradient-horizontal( $emory-blue, $light-blue );
        @include heading;
        color:$white;
        font-size:1.25rem;
        padding: calc( #{$grid-gutter-width} / 2 );
        margin-bottom:1rem;
    }
    .search-results__heading-sub {
        color: lighten($yellow, 15%);
    }
    .search-results__item {
        @include box-shadow;
        border:1px solid $gray-300;
        @include gradient-horizontal( $pale-blue-1, $white );
        padding: $grid-gutter-width calc( #{$grid-gutter-width} / 2 );
        margin-bottom:1rem;
        &:last-of-type {
            margin-bottom:2rem;
        }
    }
    .search-results__date {
        display:flex;
        align-items:center;
    }
    .search-results__tags {
        margin-bottom:.5rem;

        .alert {
            padding: calc( #{$grid-gutter-width} / 4 ) calc( #{$grid-gutter-width} / 2 );
        }
    }
}

// Search filters
.search-filters {
    .search-filters__fieldset {
        margin-bottom:1rem;
    }
    .search-filters__legend {
        @include subheading;
        font-size:1.25rem;
    }
}