<div class="wysiwyg">
    <h2>Heading 2</h2>
    <p>This appearance is specifically for <strong>Cascade WYSIWYG areas</strong> where users can input <em>rich text</em> into a variety of blocks.</p>
    <h3>Heading 3</h3>
    <p>Sometimes WYSIWYG styles have a <em>more or less distinct look and feel</em> than <a href="#">generic text across the website</a>, and this can be used to reflect those styles.</p>
    <h4>Heading 4</h4>
    <p>User input WYSIWYG content should never contain <code>&lt;h1&gt;</code>.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5>Heading 5</h5>
            <strong>Unordered List:</strong>
            {% include "partials/wysiwyg/list-unordered.njk" %}
        </div>
        <div class="col-md-6">
            <h5>Heading 5</h5>
            <strong>Ordered List:</strong>
            {% include "partials/wysiwyg/list-ordered.njk" %}
        </div>
    </div>
    <h6>Heading 6</h6>
    <strong>Blockquote:</strong>
    <blockquote>
        <p>{% include "partials/wysiwyg/sentence-md.njk" %} - John Smith</p>
    </blockquote>
</div><!-- /.wysiwyg -->