<aside class="sidebar">

    {% include "partials/component/sidebar-card.njk" %}
    {% include "partials/component/cta-sidebar-bio.njk" %}
    {% include "partials/component/cta-sidebar-alt.njk" %}

</aside>
