<aside class="sidebar">
    
    {% include "partials/component/sidebar-card.njk" %}

    <div class="heading-hr h5">Get Prepared</div>
    <a href="#" class="btn btn-primary btn-block">View / Save Syllabus</a>
    <a href="#" class="btn btn-primary btn-block">Email Syllabus</a>

    {% include "partials/component/cta-sidebar.njk" %}
    {% include "partials/component/cta-sidebar-bio.njk" %}
    {% include "partials/component/cta-sidebar-alt.njk" %}

</aside>