<section class="bg-gradient pinch pinch-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <!-- Tabs Featured -->
                <div class="tabs tabs-featured">
                    <!-- Title-->
                    <h2 class="tabs-title">What we do
                        <div class="tabs-subtitle">We teach. We discuss. We advise.</div>
                    </h2>
                    <!-- Tab menu-->
                    <ul class="nav nav-tabs" id="tabFeatured" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                    <!-- Tab content-->
                    <div class="tab-content" id="tabFeaturedContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <img src="https://placehold.it/100" alt="" />
                            <h3>Professionally utilize turnkey e-tailers</h3>
                            <div class="wysiwyg">
                                <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
                            </div>
                            <a class="btn btn-primary" href="#">Find out more</a>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <img src="https://placehold.it/100" alt="" />
                            <h3>Conveniently enhance exceptional</h3>
                            <div class="wysiwyg">
                                <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                            </div>
                            <a class="btn btn-primary" href="#">Find out more</a>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <img src="https://placehold.it/100" alt="" />
                            <h3>Energistically unleash principle-centered leadership without premier expertise</h3>
                            <div class="wysiwyg">
                                <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
                            </div>
                            <a class="btn btn-primary" href="#">Find out more</a>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.tabs .tabs-featured -->
            </div>
            <!-- /.col-md-10 -->
        </div>
        <!-- /.row .justify-content-center -->
    </div>
    <!-- /.container -->
</section>
