{% extends "layout.njk" %}
{% set pageTitle = 'About ECE' %}
{% set pageType = 'About' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main id="main">

    <section aria-labelledby="page-title">
        {% include "partials/hero/hero-interior.njk" %}
    </section>

    <section aria-label="Photo overlap, Stats 2x2 grid, Stats row">
        <div class="wrapper wrapper-overlap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2">
                        <h2 class="heading">Enriching Lives and Enhancing Careers since 1951</h2>
                        <div class="wysiwyg">
							<p>For more than 65 years, Emory Continuing Education (ECE) has served as Emory’s noncredit division. Each year, thousands of students enroll in ECE courses from throughout the metro Atlanta area. Our mission is “to enrich the lives and enhance the careers of nontraditional students by providing excellence in education, advancing Emory's commitment to create, preserve, teach, and apply knowledge in the service of humanity.”</p>
							<p>ECE offers a wide range of <a href="certificate-programs.html">certificate programs</a> and <a href="courses.html">open enrollment courses</a> (including online and hybrid options) for both professional development and personal enrichment. Areas of study include data analysis and business intelligence, management fundamentals, Lean Six Sigma, information technology and graphic/web design, communications, human resources and project management, health coach, foreign languages, English as a Second Language (ESL), professional and academic test preparation, and much more. Our <a href="olli.html">Osher Lifelong Learning Institute</a> (ages 50+) offers classes and social programs that nourish the mind, body, and soul. <a href="corporate.html">Professional development courses</a> can be tailored and delivered onsite to corporate clients.</p>
                        </div>
                        <!-- /.wysiwyg -->
                    </div>
                    <!-- /.col-lg-6 -->

                    <div class="col-lg-6 order-1">
                        {% include "partials/snippet/photo-overlap.njk" %}
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        <div class="wrapper bg-light">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <h2 class="heading">Choose a Proven Leader</h2>
                        <div class="wysiwyg">
                            <p class="lead">The end of formal education begins a lifetime of learning. ECE provides superior instruction and a variety of courses to suit every interest.</p>
                        </div>
                        <!-- /.wysiwyg -->
                        {% include "partials/component/stats-col.njk" %}
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{ includePath }}images/placeholders/book.jpg" alt="placeholder"/>
                    </div>
                    <!-- /.col-md-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        <div class="wrapper">
            <div class="container">
                {% include "partials/component/stats-row.njk" %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

    <section class="gradient-hz-blue pinch pinch-blue" aria-label="Featured Tabs">
        <div class="bg-effects">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 py-5">
                        <!-- Heading Group -->
                        <div class="heading-group heading-group-dark">
                            <h2>
                                <span class="heading-group__secondary">Learn More Here</span>
                                <span class="heading-group__primary">Improve Your Life. Reinvigorate Your Career.</span>
                            </h2>
                        </div>
                        <!-- /.heading-group .heading-group-dark -->
                        {% include "partials/component/tabs-featured.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="Accordion">
        <div class="wrapper">
            <div class="container">
                <!-- Heading Group -->
                <div class="heading-group">
					<h2>
						<span class="heading-group__secondary">Frequently Asked Questions (FAQ)</span>
						<span class="heading-group__primary">Need an Answer?</span>
					</h2>
				</div>
				<!-- /.heading-group -->
                {% include "partials/component/accordion.njk" %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

    <!-- Footer Hat - collage -->
    {% include "partials/snippet/footer-hat.njk" %}

</main>
{% endblock %}
