{% extends "layout.njk" %}
{% set pageTitle = 'Certificate Programs' %}
{% set pageType = 'Certificate Programs' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main id="main">

    <section aria-labelledby="page-title">
        {% include "partials/hero/hero-interior.njk" %}
    </section>

    <section aria-label="Course subjects">
        <div class="wrapper wrapper-overlap">
            <div class="container">

				<div class="row mb-4">
					<div class="col-lg-10 offset-lg-1 text-center">
						<h2 class="heading">In Porta Aliquam Nunc, Vitae Facilisis</h2>
						<p class="lead">Quisque ut metus libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia, massa quis mollis iaculis, odio nibh venenatis lectus, et euismod purus velit ut eros. Duis quis diam dignissim, ultricies quam ut, laoreet quam. Duis nec purus sed.</p>
					</div>
				</div>

				<!-- Subject Cards -->
				<div class="row">

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Accelerated Training in Big Data</a></h3>
										<div class="wysiwyg">
											<p>Gain a comprehensive understanding of the critical and practical elements of big data analytics.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 15, 2018 – <br> November 17, 2018</div>
											<div>8:30 a.m. – 5:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Accelerated Training in Business Intelligence</a></h3>
										<div class="wysiwyg">
											<p>Gain introductory knowledge of the field of Business Intelligence (BI), with emphasis on descriptive analytics.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, July 14, 2018 – <br> August 25, 2018</div>
											<div>8:30 a.m. – 5:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Accelerated Training in Cybersecurity and Information Security</a></h3>
										<div class="wysiwyg">
											<p>Learn fundamentals of the fields of Cybersecurity and Information Systems Security (ISS).</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, July 14, 2018 – <br> October 13, 2018</div>
											<div>8:30 a.m. – 5:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Accelerated Training in Health IT (AT-HIT)</a></h3>
										<div class="wysiwyg">
											<p>Prepare for a career in the surging Health IT field in the shortest time possible.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Dates TBA</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Au Pair</a></h3>
										<div class="wysiwyg">
											<p>As an Au Pair, improve your English skills while learning about the American culture.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Tuesday, September 25, 2018 – <br> November 13, 2018</div>
											<div>7:00 p.m. – 9:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Business Communications</a></h3>
										<div class="wysiwyg">
											<p>Build and grow expertise in advanced communications skills for both leaders and individual contributors.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Friday, August 17, 2017 – <br> December 13, 2018</div>
											<div>9:00 a.m. – 4:00 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Info Session</a>
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Creative Writing</a></h3>
										<div class="wysiwyg">
											<p>Push through writing blocks and develop your own unique voice as you work to successfully achieve your writing goals.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Tuesday, July 24, 2018 – <br> August 28, 2018</div>
											<div>7:00 p.m. – 9:00 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Digital Photography</a></h3>
										<div class="wysiwyg">
											<p>Take better photos as a hobbyist, or start taking photos professionally.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Thursday, July 12, 2018 – <br> December 13, 2018<br> </div>
											<div>6:30 p.m. – 8:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Event Planning</a></h3>
										<div class="wysiwyg">
											<p>Explore both the aesthetic details which make events sparkle as well as the behind-the-scenes logistics which make events safe and functional.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Thursday, August 9, 2018 – June 6, 2019<br> </div>
											<div>9:00 a.m. – 4:00 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Fundraising</a></h3>
										<div class="wysiwyg">
											<p>Take the fear out of fundraising with our step-by-step directions on how to advance the mission of your organization and increase community support and donations.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Dates TBA</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Info Session</a>
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Graphic Design</a></h3>
										<div class="wysiwyg">
											<p>Develop the skills necessary to succeed in the print and digital design industry.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, June 16, 2018 – July 7, 2018<br> </div>
											<div>9:00 a.m. – 12:15 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Health Coach</a></h3>
										<div class="wysiwyg">
											<p>Follow a powerful coaching process while employing motivational interviewing skills.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, June 2, 2018 – August 26, 2018<br> </div>
											<div>8:30 a.m. – 5:30 p.m.</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Info Session</a>
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Essentials of HR Management</a></h3>
										<div class="wysiwyg">
											<p>Obtain the latest knowledge related to HR laws and regulations with regards to compensation, employment law, recruitment, benefits, risk management and more.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Landscape Design</a></h3>
										<div class="wysiwyg">
											<p>Jump start your design skills by learning from working professionals who share what they have learned from many decades of designing and installing award-winning home landscapes.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Lean Six Sigma</a></h3>
										<div class="wysiwyg">
											<p>Learn techniques and tools utilized for process improvement across industries ranging from Manufacturing to Healthcare — and everything in between.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Essentials of Management – Management</a></h3>
										<div class="wysiwyg">
											<p>Improve trust and communication with employees, and obtain basic tools to increase overall managerial skills.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Essentials of Management – Supervision</a></h3>
										<div class="wysiwyg">
											<p>For first-time supervisors and/or those looking to move up to a supervisor’s role — learn five essential components to success.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Info Session</a>
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Paralegal Studies</a></h3>
										<div class="wysiwyg">
											<p>Prepare as a college graduate with the in-depth legal knowledge and skills necessary to succeed in the legal profession.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Project Management</a></h3>
										<div class="wysiwyg">
											<p>Gain knowledge and skills to increase your value to an organization and enhance your future career prospects.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Fundamentals of Web Design and Development</a></h3>
										<div class="wysiwyg">
											<p>Develop the design and functional aspects of websites, and prepare a solid foundation for entry into the Web design and development industry.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

					<div class="col-lg-6 mb-4">
						<div class="card-actions h-100">
							<div class="row h-100">
								<div class="col-sm-4">
									<div class="card-actions__img-wrap">
										<img class="card-actions__img d-none d-sm-block" src="https://unsplash.it/300?random" alt="" />
										<a href="program.html#webinars" class="badge badge-light card-actions__badge">Webinar</a>
									</div>
									<!-- /.card-actions__img -->
								</div>
								<!-- /.col-sm-4 -->

								<div class="col-sm-8">
									<div class="card-actions__info h-100 d-flex flex-column">
										<h3 class="card-actions__title"><a href="program.html">Digital Marketing</a></h3>
										<div class="wysiwyg">
											<p>Develop skills in online marketing, including e-commerce, social media, search engine optimization, HTML and CSS, and web video production.</p>
										</div>
										<!-- /.wysiwyg -->
										<!--<div class="card-actions__date">
											<div class="font-weight-bold">Saturday, September 23</div>
											<div>12 PM - 5 PM EST</div>
										</div>-->
										<!-- /.card-actions__date -->
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">Enroll</button>
											<button type="button" class="btn btn-outline-secondary">Learn More</button>
										</div>
										<!-- /.btn-group -->
									</div>
									<!-- /.card-actions__info -->
								</div>
								<!-- /.col-sm-8 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-actions -->
					</div>
					<!-- /.col-lg-6 -->

				</div>
				<!-- /.row -->

				<!-- Testimonials -->
				<div class="cta bg-facets-yellow mt-5">
					<div class="row align-items-center justify-content-between">
						<div class="col-md-6 col-lg-8">
							<h2 class="cta__text">Can’t find it? Reach out.</h2>
						</div>
						<!-- /.col-lg-8 -->
						<div class="col-md-6 col-lg-4">
							<a href="program.html#webinars" class="btn btn-primary btn-lg btn-block">Contact us</a>
						</div>
						<!-- /.col-lg-4 -->
					</div>
					<!-- /.row .align-items-center -->
				</div>
				<!-- /.cta .bg-facets-yellow -->
			</div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

</main>
{% endblock %}
