{% extends "layout.njk" %} 
{% set pageTitle = 'Courses' %}
{% set pageType = 'Courses' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %} 

{% block content %}
<main id="main">

    <section aria-labelledby="page-title">
        {% include "partials/hero/hero-interior.njk" %}
    </section>

    <section aria-label="Course subjects">
        <div class="wrapper wrapper-overlap">
            <div class="container">

				<!-- Subject Cards -->
				<div class="card-icons card-icons--subjects">
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-w.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Management and Supervision</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-b.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Lean Six Sigma and Project Management</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-w.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Test Preparation</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-b.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Fine Arts</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-w.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Microsoft Office</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-b.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Personal Enrichment</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-b.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">Foreign Languages</div>
					</a>
					<a href="search.html" class="card-icons__link">
						<img src="{{ includePath }}images/icons/book-w.svg" alt="" class="img-fluid card-icons__icon" />
						<div class="card-icons__text">OLLI (Ages 50+)</div>
					</a>
				</div>
				<!-- /.card-icons -->

                <div class="heading-group mt-5">
					<h2>
						<span class="heading-group__primary">Explore Course Offerings</span>
					</h2>
				</div>
				<!-- /.heading-group -->
                {% include "partials/component/list-row.njk" %}

				<!-- Testimonials -->
				<div class="cta bg-facets-yellow mt-5">
					<div class="row align-items-center justify-content-between">
						<div class="col-md-6 col-lg-8">
							<h2 class="cta__text">Can’t find it? Reach out.</h2>
						</div>
						<!-- /.col-lg-8 -->
						<div class="col-md-6 col-lg-4">
							<a href="#" class="btn btn-primary btn-lg btn-block">Contact us</a>
						</div>
						<!-- /.col-lg-4 -->
					</div>
					<!-- /.row .align-items-center -->
				</div>
				<!-- /.cta .bg-facets-yellow -->
			</div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

    <section aria-label="Testimonial Carousel with 2 items per slide">
        <div class="bg-facets-gray">
            <div class="container">
                {% include "partials/component/carousel-testimonial-2x.njk" %}
            </div>
            <!-- /.container -->
        </div>
        <!-- .bg-facets-gray -->
    </section>

</main>
{% endblock %}