{% extends "layout.njk" %}
{% set pageTitle = 'Home' %}
{% set pageType = 'Layout' %}
{% block head %}
<title>{{ pageTitle}} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main id="main">

    <section aria-labelledby="page-title">
        {% include "partials/hero/hero-home.njk" %}
    </section>

    <section class="gradient-v-gray pinch pinch-gray" aria-label="Testimonial carousel with photos">
        <div class="container py-5">
            {% include "partials/component/carousel-testimonial-photos.njk" %}
        </div>
    </section>

    <section aria-label="Card icons">
        <div class="wrapper bg-fractal-frame">
            <div class="container">
                <div class="text-center pb-5">
                    <h2 class="heading">Proven Value to Our Students</h2>
                </div>
                {% include "partials/component/card-icons.njk" %}
            </div>
        </div>
    </section>

    <section class="gradient-hz-blue pinch pinch-blue" aria-label="Courses and programs">
        <div class="bg-effects">
            <div class="container">
                <div class="text-center py-5">
                    <h2 class="heading text-white mb-0">Browse Our Courses and Programs</h2>
                </div>
                {% include "partials/component/card-links.njk" %}
            </div>
        </div>
    </section>

    <section aria-label="Overview, info sessions feed, news feed">
        <div class="wrapper wrapper-overlap">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-6 order-2">
                        <h2 class="heading">Discover a New You</h2>
                        <div class="wysiwyg">
                            <p>Learn a new language, develop a finer palate for wine or hone work skills by mastering Excel or web programming. If you’re 50 or older, attend one or more of our XX OLLI classes to learn and meet new people. Enroll in certificate courses at your own pace to bolster your prospects at work or in pursuit of a new job. We also tailor onsite professional development classes for our corporate clients. Whether it’s for your own enjoyment or career needs, you’ll find a course that fits at ECE.</p>
                        </div>
                        <!-- /.wysiwyg -->
                        <a href="about.html" class="btn btn-accent-3">About ECE</a>
                    </div>
                    <!-- /.col-lg-6 -->

                    <div class="col-lg-6 order-1 align-self-center">
                        <div class="photo-overlap">
							<div class="photo">
								<figure class="image image-16by9">
									<img src="{{ includePath }}images/placeholders/instructor-book.jpg" alt="placeholder" />
								</figure>
							</div>
							<div class="photo photo-shift">
								<figure class="image image-16by9">
									<img src="{{ includePath }}images/placeholders/student-tablet.jpg" alt="placeholder" />
								</figure>
							</div>
						</div>
						<!-- /.photo-overlap -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->

				<div class="my-5">
					<h2 class="heading mb-3">Info Sessions</h2>
					{% include "partials/component/feed-events.njk" %}
					<a href="#" class="btn btn-accent-1 mt-4 mt-md-0">All Info Sessions</a>
				</div>

				<div class="mt-5">
					<h2 class="heading mb-3">Latest News</h2>
					{% include "partials/component/feed-news.njk" %}
				</div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

</main>

{% endblock %}
