{% extends "layout.njk" %}
{% set pageTitle = 'Interior' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main id="main">

</main>
{% endblock %}
