{% extends "layout.njk" %} 
{% set pageTitle = 'Interior' %}
{% set pageType = 'Layout' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %} 

{% block content %}
<main id="main">

    <section aria-labelledby="page-title">
        {% include "partials/hero/hero-interior.njk" %}
    </section>

    <section aria-label="Photo overlap, Stats 2x2 grid, Stats row">
        <div class="wrapper wrapper-overlap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2">
                        <h2 class="heading">Section with Photo Overlap Component</h2>
                        <div class="wysiwyg">
                            <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
                            <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                            <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
                            <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                        </div>
                        <!-- /.wysiwyg -->
                    </div>
                    <!-- /.col-lg-6 -->

                    <div class="col-lg-6 order-1 align-self-center">
                        {% include "partials/snippet/photo-overlap.njk" %}
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        <div class="wrapper bg-light">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <h2 class="heading">Stats with icons in 2x2 grid</h2>
                        <div class="wysiwyg">
                            <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
                        </div>
                        <!-- /.wysiwyg -->
                        {% include "partials/component/stats-col.njk" %}
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-5">
                        <img class="img-fluid" src="https://placehold.it/480x640" alt="placeholder"/>
                    </div>
                    <!-- /.col-md-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        <div class="wrapper">
            <div class="container">
                {% include "partials/component/stats-row.njk" %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

    <section class="gradient-hz-blue pinch pinch-blue" aria-label="Featured Tabs">
        <div class="bg-effects">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 py-5">
                        <!-- Heading Group -->
                        <div class="heading-group heading-group-dark">
                            <h2>
                                <span class="heading-group__secondary">Tabs - Featured</span>
                                <span class="heading-group__primary">Title for Featured Tabs Component</span>
                            </h2>
                        </div>
                        <!-- /.heading-group .heading-group-dark -->
                        {% include "partials/component/tabs-featured.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="Accordion">
        <div class="wrapper">
            <div class="container">
                <!-- Heading Group -->
                {% include "partials/snippet/heading-group.njk" %}
                {% include "partials/component/accordion.njk" %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>

    <!-- Footer Hat - collage -->
    {% include "partials/snippet/footer-hat.njk" %}

</main>
{% endblock %}