<div class="heading-group">
    <h2>
        <span class="heading-group__secondary">Heading Group - Secondary</span>
        <span class="heading-group__primary">Heading Group - Primary Title Text</span>
    </h2>
</div>
<!-- /.heading-group -->
