<div class="photo-overlap">
    <div class="photo">
        <figure class="image image-16by9">
            <img src="https://placehold.it/1920x1080/007dba/ffffff?text=16:9" alt="placeholder" />
        </figure>
    </div>
    <div class="photo photo-shift">
        <figure class="image image-16by9">
            <img src="https://unsplash.it/1920/1080" alt="placeholder" />
        </figure>
    </div>
</div>
<!-- /.photo-overlap -->
