<div class="photo-overlap">
    <div class="photo">
        <figure class="image image-16by9">
            <img src="{{ includePath }}images/placeholders/class-laughing.jpg" alt="placeholder" />
        </figure>
    </div>
    <div class="photo photo-shift">
        <figure class="image image-16by9">
            <img src="{{ includePath }}images/placeholders/instructor-pointing.jpg" alt="placeholder" />
        </figure>
    </div>
</div>
<!-- /.photo-overlap -->
