<form class="form-inline my-3 my-lg-0 navbar__search">

    <div class="input-group mx-auto">
        
        <!-- Search input box -->
        <input
            id="search-input"
            type="text"
            class="form-control navbar__search-input d-block d-lg-none"
            placeholder="Enter keywords..."
            aria-label="Enter keywords">
        
        <!-- Search submit -->
        <div class="input-group-append">
            <input
                id="search-submit"
                type="submit"
                name="search"
                aria-label="Submit search query"
                value="Search"
                class="btn btn-primary navbar__search-submit d-block d-lg-none">
        </div>

        <!-- Search toggle -->
        <div class="input-group-append d-none d-lg-block">
            <button 
                id="search-toggle"
                class="btn navbar__search-toggle icon-magnifier"
                type="button"
                aria-label="Toggle between search and menu"
                title="Toggle between search and menu">
            </button>
        </div>

    </div>
    <!-- /.input-group -->

</form>