<form class="search-form" id="courseSearch">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search for courses..." aria-label="Search for courses">
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-outline-primary"/>
        </div>
        <!-- /.input-group-append -->
    </div>
    <!-- /.input-group -->
</form>
<!-- /.search-form -->
