<form class="search-filters" id="searchFilters">

    <button class="btn btn-sm btn-block btn-outline-primary my-2">Clear filters</button>
    
    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Category</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Credibly envisioneer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                Objectively communicate
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
                Dramatically grow
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
                Holisticly
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Course Type</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1-2">
            <label class="form-check-label" for="defaultCheck1-2">
                Proactively incubate
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2-2">
            <label class="form-check-label" for="defaultCheck2-2">
                Progressively architect
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3-2">
            <label class="form-check-label" for="defaultCheck3-2">
                Dramatically
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4-2">
            <label class="form-check-label" for="defaultCheck4-2">
                Holisticly empower
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5-2">
            <label class="form-check-label" for="defaultCheck5-2">
                Intrinsicly mesh
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck6-2">
            <label class="form-check-label" for="defaultCheck6-2">
                Assertively myocardinate
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Course Subject</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1-3">
            <label class="form-check-label" for="defaultCheck1-3">
                Appropriately transition
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2-3">
            <label class="form-check-label" for="defaultCheck2-3">
                Uniquely
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3-3">
            <label class="form-check-label" for="defaultCheck3-3">
                Completely unleash
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4-3">
            <label class="form-check-label" for="defaultCheck4-3">
                Holisticly empower
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5-3">
            <label class="form-check-label" for="defaultCheck5-3">
                Mesh
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck6-3">
            <label class="form-check-label" for="defaultCheck6-3">
                Interactively transform
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck7-3">
            <label class="form-check-label" for="defaultCheck7-3">
                Appropriately expedite
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck8-3">
            <label class="form-check-label" for="defaultCheck8-3">
                Collaboratively
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Competently build
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <input type="hidden" id="updateFilters" name="updateFilters" value="#"/>

</form>