<form class="search-filters" id="searchFilters">

    <button class="btn btn-sm btn-block btn-outline-primary my-4">Clear filters</button>
    
    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Category</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Credibly envisioneer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                Objectively communicate
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
                Dramatically grow
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
                Holisticly
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Course Type</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1-2">
            <label class="form-check-label" for="defaultCheck1-2">
                Open Enrollment Course
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2-2">
            <label class="form-check-label" for="defaultCheck2-2">
                Certificate Program
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3-2">
            <label class="form-check-label" for="defaultCheck3-2">
                Info Session
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4-2">
            <label class="form-check-label" for="defaultCheck4-2">
                Webinar
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5-2">
            <label class="form-check-label" for="defaultCheck5-2">
                OLLI (Ages 50+)
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <fieldset class="search-filters__fieldset">
        <legend class="search-filters__legend">Course Subject</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1-3">
            <label class="form-check-label" for="defaultCheck1-3">
                Accounting
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2-3">
            <label class="form-check-label" for="defaultCheck2-3">
                Anthropology and Archaeology
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3-3">
            <label class="form-check-label" for="defaultCheck3-3">
                Biological Sciences
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4-3">
            <label class="form-check-label" for="defaultCheck4-3">
                Biotechnology
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5-3">
            <label class="form-check-label" for="defaultCheck5-3">
                Chemistry
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck6-3">
            <label class="form-check-label" for="defaultCheck6-3">
                Communication
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck7-3">
            <label class="form-check-label" for="defaultCheck7-3">
                Computer Science
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck8-3">
            <label class="form-check-label" for="defaultCheck8-3">
                Creative Writing
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Digital Media and Design
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Dramatic Arts
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Economics
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Education
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Engineering Science
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Enterprise Management
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Environmental Studies
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Expository Writing
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Finance
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Languages
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Government
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                History
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                History of Art and Architecture
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Humanities
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Information Systems Management
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Journalism
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Legal Studies
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Management
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Mathematics
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Medical Sciences
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Museum Studies
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Organizational Behavior
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Philosophy
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Psychology
            </label>
        </div>
		<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck9-3">
            <label class="form-check-label" for="defaultCheck9-3">
                Social Sciences
            </label>
        </div>
    </fieldset>
    <!-- /.search-filters__fieldset -->

    <input type="hidden" id="updateFilters" name="updateFilters" value="#"/>

</form>