/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/notosans-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/notosans-italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/notosans-bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/noto-sans/notosans-bolditalic-webfont.woff');
    font-weight: 700;
    font-style: italic;
}

/* Spectral */
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/spectral-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/spectral-italic-webfont.woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/spectral-bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/spectral/spectral-bolditalic-webfont.woff');
    font-weight: 700;
    font-style: italic;
}

/* Barlow Condensed */
@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/barlow-condensed/barlowcondensed-semibold-webfont.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/barlow-condensed/barlowcondensed-semibolditalic-webfont.woff');
    font-weight: 600;
    font-style: italic;
}