<footer id="site-footer" class="footer gradient-hz-blue pinch pinch-blue">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-md-5">

                <a href="index.html" class="footer__logo mb-5">
                    <img src="{{ includePath }}images/logo-ece-footer.svg" alt="Emory University | Emory Continuing Education" />
                </a>

                <ul class="nav footer__social">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="{{ includePath }}images/icons/facebook.svg" alt="Facebook" class="img-fluid" />
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="{{ includePath }}images/icons/instagram.svg" alt="Instagram" class="img-fluid" />
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="{{ includePath }}images/icons/twitter.svg" alt="Twitter" class="img-fluid" />
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.col-md-5 -->
            <div class="col-md-6">

                <ul class="footer__nav">
                    <li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Courses</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Certificate Programs</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Events</a>
					</li>
					<li class="footer__nav-item">
                        <a href="about.html" class="footer__nav-link">About</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Contact</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Student Login</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Instructor Login</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Policies & Procedures</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">OLLI</a>
					</li>
					<li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Military</a>
					</li>
                </ul>

            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <hr>

        <div class="row align-items-center small">
            <div class="col-md-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Refund Policy</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">

                <div class="text-md-right">2018 All rights reserved. Emory University.</div>

                <div class="mt-4 text-md-right d-block d-lg-none">
                    <a href="#" class="btn btn-dark">Back to top</a>
                </div>

            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <a href="#" class="btn btn-dark footer__btn-top d-none d-lg-block">
        <img src="{{ includePath }}images/icons/chevron-up-w.svg" alt=""/>
        <div class="sr-only">Back to top</div>
    </a>

</footer>