<nav class="navbar navbar-expand-lg navbar-light bg-light" id="site-nav">

  <div class="logo-wrapper">

    <div class="logo__emory">
      <a href="http://www.emory.edu">
        <img src="{{ includePath }}images/logo-emory.svg" alt="Emory University">
      </a>
    </div>
    <!-- /.logo__emory -->

    <div class="logo__ece">
      <a href="index.html">
        <img src="{{ includePath }}images/logo-ece.svg" alt="Emory Continuing Education">
      </a>
    </div>
    <!-- /.logo__ece -->

    <!-- Mobile menu toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="subheading">Menu</span>
    </button>

  </div>
  <!-- /.logo-wrapper -->

  <!-- Collapse menu content -->
  <div class="collapse navbar-collapse justify-content-end" id="nav-main">

    <ul class="navbar-nav ml-auto d-flex align-items-start justify-content-end slide-horiz-l" id="main-menu">

      <li class="nav-item dropdown{% if pageType == 'Courses' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="courses.html" id="coursesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Courses{% if pageTitle == 'Courses' %}
          <span class="sr-only">(current)</span>{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="coursesDropdown">
		  	<a class="dropdown-item{% if pageTitle == 'Courses' %} active{% endif %}" href="courses.html">Browse Courses by Subject{% if pageTitle == 'Courses' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item{% if pageTitle == 'Course Catalog' %} active{% endif %}" href="search.html">Search Courses{% if pageTitle == 'Course Catalog' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item" href="#">Management and Supervision</a>
			<a class="dropdown-item" href="#">Lean Six Sigma and Project Management</a>
			<a class="dropdown-item" href="#">IT, Design and Development</a>
			<a class="dropdown-item" href="#">Test Preparation</a>
			<a class="dropdown-item" href="#">Fine Arts</a>
			<a class="dropdown-item" href="#">Microsoft Office</a>
			<a class="dropdown-item" href="#">Personal Enrichment</a>
			<a class="dropdown-item" href="#">Foreign Languages</a>
			<a class="dropdown-item{% if pageTitle == 'Defensive Driving Course (National Safety Council)' %} active{% endif %}" href="olli.html">OLLI (Ages 50+){% if pageTitle == 'Defensive Driving Course (National Safety Council)' %}<span class="sr-only">(current)</span>{% endif %}</a>
        </div>
      </li>

	  <li class="nav-item dropdown{% if pageType == 'Certificate Programs' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="certificate-programs.html" id="programsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Certificate Programs{% if pageTitle == 'Certificate Programs' %}
          <span class="sr-only">(current)</span>{% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-2col" aria-labelledby="programsDropdown">
			<a class="dropdown-item{% if pageTitle == 'Certificate Programs' %} active{% endif %}" href="certificate-programs.html">All Certificate Programs{% if pageTitle == 'Certificate Programs' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item{% if pageTitle == 'Accelerated Training in Big Data' %} active{% endif %}" href="program.html">Big Data{% if pageTitle == 'Accelerated Training in Big Data' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item" href="program.html">Business Intelligence</a>
			<a class="dropdown-item" href="program.html">Cybersecurity</a>
			<a class="dropdown-item" href="program.html">Health IT</a>
			<a class="dropdown-item" href="program.html">Au Pair</a>
			<a class="dropdown-item" href="program.html">Business Communications</a>
			<a class="dropdown-item" href="program.html">Creative Writing</a>
			<a class="dropdown-item" href="program.html">Digital Photography</a>
			<a class="dropdown-item" href="program.html">Event Planning</a>
			<a class="dropdown-item" href="program.html">Fundraising</a>
			<a class="dropdown-item" href="program.html">Graphic Design</a>
			<a class="dropdown-item" href="program.html">Health Coach</a>
			<a class="dropdown-item" href="program.html">HR Management</a>
			<a class="dropdown-item" href="program.html">Landscape Design</a>
			<a class="dropdown-item" href="program.html">Lean Six Sigma</a>
			<a class="dropdown-item" href="program.html">Management</a>
			<a class="dropdown-item" href="program.html">Supervision</a>
			<a class="dropdown-item" href="program.html">Paralegal</a>
			<a class="dropdown-item" href="program.html">Project Management</a>
			<a class="dropdown-item" href="program.html">Web Design and Development</a>
			<a class="dropdown-item" href="program.html">Digital Marketing</a>
        </div>
      </li>

      <li class="nav-item{% if pageType == 'Info Sessions' %} active{% endif %}">
        <a class="nav-link" href="#">Info Sessions{% if pageTitle == 'Info Sessions' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
      </li>

	  <li class="nav-item dropdown{% if pageType == 'About' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="about.html" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			About{% if pageTitle == 'About ECE' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
		  <div class="dropdown-menu" aria-labelledby="aboutDropdown">
		  	<a class="dropdown-item{% if pageTitle == 'About ECE' %} active{% endif %}" href="about.html">About ECE{% if pageTitle == 'About ECE' %}<span class="sr-only">(current)</span>{% endif %}</a>
			 <a class="dropdown-item{% if pageTitle == 'Corporate Learning' %} active{% endif %}" href="corporate.html">Corporate Learning{% if pageTitle == 'Corporate Learning' %}<span class="sr-only">(current)</span>{% endif %}</a>
		  </div>
      </li>

	  <li class="nav-item{% if pageType == 'Contact' %} active{% endif %}">
        <a class="nav-link" href="#">Contact{% if pageTitle == 'Contact' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-primary" href="login.html">Login</a>
      </li>

    </ul>

    {% include "partials/form/search-navbar.njk" %}

  </div>
  <!-- /.collapse -->

</nav>

{% if pageTitle == 'Home' %}
<div class="nav__cta">
	<a href="courses.html" class="btn btn-secondary">Browse Courses</a>
</div>
{% endif %}
