<nav class="navbar navbar-expand-lg navbar-light bg-light" id="site-nav">

  <div class="logo-wrapper">

    <div class="logo__emory">
      <a href="http://www.emory.edu">
        <img src="{{ includePath }}images/logo-emory.svg" alt="Emory University">
      </a>
    </div>
    <!-- /.logo__emory -->

    <div class="logo__ece">
      <a href="index.html">
        <img src="{{ includePath }}images/logo-ece.svg" alt="Emory Continuing Education">
      </a>
    </div>
    <!-- /.logo__ece -->

    <!-- Mobile menu toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="subheading">Menu</span>
    </button>

  </div>
  <!-- /.logo-wrapper -->

  <!-- Collapse menu content -->
  <div class="collapse navbar-collapse justify-content-end" id="nav-main">

    <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-end slide-horiz-l" id="main-menu">

      <li class="nav-item dropdown{% if pageType == 'Courses' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="coursesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Courses{% if pageTitle == 'Courses' %}
          <span class="sr-only">(current)</span>{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="coursesDropdown">
		  	<a class="dropdown-item{% if pageTitle == 'Courses' %} active{% endif %}" href="courses.html">Courses by Subject{% if pageTitle == 'Courses' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item" href="#">Management and Supervision</a>
			<a class="dropdown-item" href="#">Lean Six Sigma and Project Management</a>
			<a class="dropdown-item" href="#">IT, Design and Development</a>
			<a class="dropdown-item" href="#">Test Preparation</a>
			<a class="dropdown-item" href="#">Fine Arts</a>
			<a class="dropdown-item" href="#">Microsoft Office</a>
			<a class="dropdown-item" href="#">Personal Enrichment</a>
			<a class="dropdown-item" href="#">Foreign Languages</a>
			<a class="dropdown-item" href="#">OLLI (Ages 50+)</a>
        </div>
      </li>

	  <li class="nav-item dropdown{% if pageType == 'Certificate Programs' %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Certificate Programs{% if pageTitle == 'Certificate Programs' %}
          <span class="sr-only">(current)</span>{% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-2col" aria-labelledby="programsDropdown">
			<a class="dropdown-item{% if pageTitle == 'Certificate Programs' %} active{% endif %}" href="courses.html">All Certificate Programs{% if pageTitle == 'Certificate Programs' %}<span class="sr-only">(current)</span>{% endif %}</a>
			<a class="dropdown-item" href="#">Big Data</a>
			<a class="dropdown-item" href="#">Business Intelligence</a>
			<a class="dropdown-item" href="#">Cybersecurity and Information Security</a>
			<a class="dropdown-item" href="#">Health IT (AT-HIT)</a>
			<a class="dropdown-item" href="#">Au Pair</a>
			<a class="dropdown-item" href="#">Business Communications</a>
			<a class="dropdown-item" href="#">Creative Writing</a>
			<a class="dropdown-item" href="#">Digital Photography</a>
			<a class="dropdown-item" href="#">Event Planning</a>
			<a class="dropdown-item" href="#">Fundraising</a>
			<a class="dropdown-item" href="#">Graphic Design</a>
			<a class="dropdown-item" href="#">Health Coach</a>
			<a class="dropdown-item" href="#">Essentials of HR Management</a>
			<a class="dropdown-item" href="#">Landscape Design</a>
			<a class="dropdown-item" href="#">Lean Six Sigma</a>
			<a class="dropdown-item" href="#">Essentials of Management</a>
			<a class="dropdown-item" href="#">Paralegal Studies</a>
			<a class="dropdown-item" href="#">Project Management</a>
			<a class="dropdown-item" href="#">Web Certificates</a>
        </div>
      </li>

      <li class="nav-item{% if pageType == 'Info Sessions' %} active{% endif %}">
        <a class="nav-link" href="#">Info Sessions{% if pageTitle == 'Info Sessions' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
      </li>

	  <li class="nav-item{% if pageType == 'About' %} active{% endif %}">
        <a class="nav-link" href="about.html">About{% if pageTitle == 'About ECE' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
      </li>

	  <li class="nav-item{% if pageType == 'Contact' %} active{% endif %}">
        <a class="nav-link" href="#">Contact{% if pageTitle == 'Contact' %}
          <span class="sr-only">(current)</span>{% endif %}</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-primary" href="login.html">Login</a>
      </li>

    </ul>

    {% include "partials/form/search-navbar.njk" %}

  </div>
  <!-- /.collapse -->

</nav>