<div class="card-highlight">
    <h3 class="card-highlight__title">Prereqs &amp; Preparation</h3>
    <div class="wysiwyg">
        <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
    </div>
    <!-- /.wysiwyg -->
</div>
<!-- /.card-highlight -->