<div class="card-info">
    <div class="row no-gutters align-items-center">

        <div class="col-sm-6 col-md-12 col-lg-4">
            <div class="card-info__item">
                <div class="card-info__icon">
                    <img src="{{ includePath }}images/icons/calendar-w.svg" alt="" class="img-fluid icon-sm" />
                </div>
                <!-- /.card-info__icon -->
                <div class="card-info__text">
                    <div class="font-weight-bold">Sat, September 23</div>
                    <div>12 PM - 5 PM EST</div>
                </div>
                <!-- /.card-info__text -->
            </div>
            <!-- /.card-info__item -->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-12 col-lg-4">
            <div class="card-info__item">
                <div class="card-info__icon">
                    <img src="{{ includePath }}images/icons/map-pin-w.svg" alt="" class="img-fluid icon-sm" />
                </div>
                <!-- /.card-info__icon -->
                <div class="card-info__text">
                    <address>
                        6 Executive Park Dr NE,
                        <br/> Atlanta,
                        <abbr title="Georgia">GA</abbr> 30329
                    </address>
                </div>
                <!-- /.card-info__text -->
            </div>
            <!-- /.card-info__item -->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <a href="#" class="btn btn-secondary btn-block ml-0 ml-lg-2">Join in-person session</a>
        </div>
        <!-- /.col-lg-4 -->

    </div>
    <!-- /.row -->
</div>
<!-- /.card-info -->