<div class="card-actions">
    <div class="row">

        <div class="col-sm-4">
            <div class="card-actions__img">
                <div class="badge badge-secondary card-actions__badge">Big Data</div>
            </div>
            <!-- /.card-actions__img -->
        </div>
        <!-- /.col-sm-4 -->

        <div class="col-sm-8">
            <div class="card-actions__info">
                <h3 class="card-actions__title">Big Data &amp; Data Analytics</h3>
                <div class="wysiwyg">
                    <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
                </div>
                <!-- /.wysiwyg -->
                <div class="card-actions__date">
                    <div class="font-weight-bold">Saturday, September 23</div>
                    <div>12 PM - 5 PM EST</div>
                </div>
                <!-- /.card-actions__date -->
                <div class="btn-group mt-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Enroll</button>
                    <button type="button" class="btn btn-outline-secondary">Learn More</button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.card-actions__info -->
        </div>
        <!-- /.col-sm-8 -->

    </div>
    <!-- /.row -->
</div>
<!-- /.card-actions -->
