<div class="card-icons">
    {% for i in range(0,3) %}
    <a href="#" class="card-icons__link">
        <img src="{{ includePath }}images/icons/book-w.svg" alt="" class="img-fluid card-icons__icon" />
        <div class="card-icons__text">Card Icon Title</div>
    </a>

    <a href="#" class="card-icons__link">
        <img src="{{ includePath }}images/icons/book-b.svg" alt="" class="img-fluid card-icons__icon" />
        <div class="card-icons__text">Slightly Longer Card Icon Title</div>
    </a>
    {% endfor %}
</div>
<!-- /.card-icons -->