<div id="carouselTestimonial2x" class="carousel slide carousel-testimonial-2x pt-5" data-ride="carousel">
    
    <div class="text-center">
        <h2 class="heading mb-4">What Students Say about Us</h2>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carouselTestimonial2x" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTestimonial2x" data-slide-to="1"></li>
        <li data-target="#carouselTestimonial2x" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            “I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            “I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Alex Hvostik</div>
                        <div class="carousel-testimonial__title">Business Intelligence</div>
                        <div class="wysiwyg">
                            “I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”
                        </div>
                        <!-- /.wysiwyg -->
                        <div class="carousel-testimonial__thumb">
                            <figure class="image image-1by1">
                                <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                            </figure>
                        </div>
                        <!-- /.carousel-testimonial__thumb -->
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

    </div>
    <!-- /.carousel-inner -->

</div>
<!-- /.carousel -->