<div id="carouselTestimonialPhotos" class="carousel slide carousel-testimonial-photos" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carouselTestimonialPhotos" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTestimonialPhotos" data-slide-to="1"></li>
        <li data-target="#carouselTestimonialPhotos" data-slide-to="2"></li>
    </ol>

    <div class="row justify-content-center">
        <div class="col-9 col-md-8">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-7 col-md-4 col-lg-3 mx-auto mb-3 mb-md-0 d-block">
                             <a href="https://youtu.be/toDyEVIFph4?t=1m54s" target="_blank" rel="noopener" class="carousel__thumb">
                                <figure class="image image-1by1">
									<img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                                </figure>
							</a>
                        </div>
                        <!-- /.col-md-4 col-lg-3 -->
                        <div class="col-md-8 col-lg-9">
                            <div class="wysiwyg">
                                <p>“I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”</p>
                            </div>
                            <!-- /.wysiwyg -->
                            <div class="carousel-testimonial__name">Alex Hvostik</div>
                            <div class="carousel-testimonial__title">Business Intelligence</div>
                        </div>
                        <!-- /.col-md-8 col-lg-9 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.carousel-item -->

				<div class="carousel-item">
                    <div class="row">
                        <div class="col-7 col-md-4 col-lg-3 mx-auto mb-3 mb-md-0 d-block">
                             <a href="https://youtu.be/toDyEVIFph4?t=1m54s" target="_blank" rel="noopener" class="carousel__thumb">
                                <figure class="image image-1by1">
                                    <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                                </figure>
                            </a>
                        </div>
                        <!-- /.col-md-4 col-lg-3 -->
                        <div class="col-md-8 col-lg-9">
                            <div class="wysiwyg">
                                <p>“I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”</p>
                            </div>
                            <!-- /.wysiwyg -->
                            <div class="carousel-testimonial__name">Alex Hvostik</div>
                            <div class="carousel-testimonial__title">Business Intelligence</div>
                        </div>
                        <!-- /.col-md-8 col-lg-9 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.carousel-item -->

				<div class="carousel-item">
                    <div class="row">
                        <div class="col-7 col-md-4 col-lg-3 mx-auto mb-3 mb-md-0 d-block">
                            <a href="https://youtu.be/toDyEVIFph4?t=1m54s" target="_blank" rel="noopener" class="carousel__thumb">
                                <figure class="image image-1by1">
                                    <img src="{{ includePath }}images/placeholders/alex-hvostik.jpg" alt="placeholder">
                                </figure>
                            </a>
                        </div>
                        <!-- /.col-md-4 col-lg-3 -->
                        <div class="col-md-8 col-lg-9">
                            <div class="wysiwyg">
                                <p>“I’ve gotten a lot of success out of the program. I landed a new job while in the program. So, I would highly recommend this course to others.”</p>
                            </div>
                            <!-- /.wysiwyg -->
                            <div class="carousel-testimonial__name">Alex Hvostik</div>
                            <div class="carousel-testimonial__title">Business Intelligence</div>
                        </div>
                        <!-- /.col-md-8 col-lg-9 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.carousel-item -->

            </div>
            <!-- /.carousel-inner -->
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.row .justify-content-center -->

    <a class="carousel-control-prev" href="#carouselTestimonialPhotos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTestimonialPhotos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<!-- /.carousel -->
