<div id="carouselTestimonial2x" class="carousel slide carousel-testimonial-2x" data-ride="carousel">

    <div class="text-center">
        <h2 class="heading">Testimonial Carousel with 2 items per slide</h2>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carouselTestimonial2x" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTestimonial2x" data-slide-to="1"></li>
        <li data-target="#carouselTestimonial2x" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Eduardo Woods</div>
                        <div class="carousel-testimonial__title">Co &amp; Founder IS Studio</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-md.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Joanna Newsom</div>
                        <div class="carousel-testimonial__title">Harper &amp; Vocalist</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Adam Jensen</div>
                        <div class="carousel-testimonial__title">He Never Asked for This</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Richard Matthew Stallman</div>
                        <div class="carousel-testimonial__title">It's Free Software!</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-md.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Stefan Molyneux</div>
                        <div class="carousel-testimonial__title">That's Not an Argument</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-sm.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <blockquote class="carousel-testimonial__quote">
                        <div class="carousel-testimonial__name">Sargon of the Akkads</div>
                        <div class="carousel-testimonial__title">Have you even read Locke?</div>
                        <div class="wysiwyg">
                            "{% include "partials/wysiwyg/sentence-md.njk" %}"
                        </div>
                        <!-- /.wysiwyg -->
                        <img src="https://placehold.it/200" class="carousel-testimonial__thumb" alt="placeholder">
                    </blockquote>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.carousel-item -->

    </div>
    <!-- /.carousel-inner -->

</div>
<!-- /.carousel -->
