<div class="sidebar-cta sidebar-cta-bio">
    <div class="sidebar-bio__thumb">
        <figure class="image image-1by1">
            <img src="{{ includePath }}images/placeholders/mahmoud-ghavi.jpg" alt="placeholder">
        </figure>
    </div>
    <!-- /.sidebar-bio__thumb -->
	<p class="h5 subheading">Instructor:</p>
    <div class="font-weight-bold">Mahmoud Ghavi, PhD</div>
    <div class="small font-italic mb-2">Chair, Consort Institute</div>
    <p class="small">Mahmoud Ghavi is an accomplished scientist, educator and corporate executive with extensive experience and proven leadership in the fields of information technology, data management, data analytics, and health care informatics.</p>
    <a href="#" class="btn btn-primary btn-block mt-3">View Full Bio</a>
</div>
<!-- /.sidebar-cta .sidebar-bio .gradient-hz-yellow -->
