<div class="row">
    <div class="col-lg-8">
        <div class="cta cta-sm bg-facets-yellow">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-7">
                    <h2 class="cta__text">Interested in this course? Register now.</h2>
                </div>
                <!-- /.col-lg-7 -->
                <div class="col-md-6 col-lg-5">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Register Course</a>
                </div>
                <!-- /.col-lg-5 -->
            </div>
            <!-- /.row .align-items-center -->
        </div>
        <!-- /.cta .bg-facets-yellow -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
