<div class="sidebar-cta">
    <img src="{{ includePath }}images/icons/license-w.svg" alt="" class="img-fluid mb-3 icon-md">
    <p class="h6">Quickly leverage other's standards compliant e-commerce.</p>
    <a href="#" class="btn btn-accent-3 btn-lg btn-block mt-3">Call to action</a>
</div>
<!-- /.sidebar-cta -->
