<div class="sidebar-cta sidebar-cta-bio">
    <div class="sidebar-bio__thumb">
        <figure class="image image-1by1">
            <img src="https://placehold.it/230" alt="placeholder">
        </figure>
    </div>
    <!-- /.sidebar-bio__thumb -->
    <div class="font-weight-bold">John Smith</div>
    <div class="small font-italic mb-2">Instructor</div>
    <p class="small">{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
    <a href="#" class="btn btn-primary btn-lg btn-block mt-3">View Full Bio</a>
</div>
<!-- /.sidebar-cta .sidebar-bio .gradient-hz-yellow -->