<ul class="links-feed">
    {% for i in range(0,2) %}
    <li>
        <a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
            <h3 class="links-feed__title">Title for Event</h3>
            <span class="font-weight-bold">Friday, June 23</span>
            <span>at 12 PM</span>
        </a>
    </li>
    <li>
        <a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
            <h3 class="links-feed__title">A bit Longer Title for an Event</h3>
            <span class="font-weight-bold">Wednesday, September 13</span>
            <span>at 4 PM</span>
        </a>
    </li>
    {% endfor %}
</ul>
