<div class="row">
	<div class="col-md-6">
		<ul class="links-feed">
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Health Coach</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Tuesday, January 9</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Digital Photography</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Thursday, January 11</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Fundraising</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Tuesday, February 6</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- /.-col-md-6 -->
	<div class="col-md-6">
		<ul class="links-feed">
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Au Pair</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Wednesday, February 21</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Essentials of HR Management</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Thursday, March 8</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="links-feed__link card-link-arrow card-link-arrow-right" href="#">
					<h3 class="links-feed__title">Essentials of HR Management</h3>
					<div class="links-feed__item">
						<div class="links-feed__icon">
							<img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid icon-sm" />
						</div>
						<div class="links-feed__text">
							<span class="font-weight-bold">Friday, March 30</span>
							<span>at 7:00 p.m.</span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- /.-col-md-6 -->
</div>
<!-- /.row -->
