<div class="card-links">

    <a class="card-links__link card-link-arrow card-link-arrow-bottom" href="#">
        <h3 class="card-links__title">Title of news article</h3>
        <div class="wysiwyg">
            <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
        </div>
        <div class="btn btn-sm btn-primary mb-2">Read more about...</div>
    </a>
    <a class="card-links__link card-link-arrow card-link-arrow-bottom" href="#">
        <h3 class="card-links__title">A much longer Title for a news article</h3>
        <div class="wysiwyg">
            <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
        </div>
    </a>

</div>
<!-- /.card-links -->
