<div class="row">
	<div class="col-md-6">
		<div class="card-links">
			<a class="card-links__link card-link-arrow card-link-arrow-bottom" href="#">
				<h3 class="card-links__title">New Half-Day Workshops</h3>
				<div class="wysiwyg">
					<p>Our new lineup of half-day workshops includes coaching, delegating, Microsoft Excel, leadership and other management/supervisory skills courses.</p>
				</div>
				<div class="btn btn-primary mb-2">All Half-Day Workshops</div>
			</a>
		</div>
		<!-- /.card-links -->
	</div>
	<!-- /.-col-sm-6 -->
</div>
<!-- /.row -->