<ul class="list-row">
    {% for i in range(0,6) %}
    <li class="list-row__item">
        <a class="list-row__link" href="#">
            <div class="list-row__icon">
                <img src="https://placehold.it/65" class="icon-lg" alt="">
            </div>
            <!-- /.list-row__icon -->
            <div class="list-row__text">
                List with icons - a long name that goes on
            </div>
            <!-- /.list-row__text -->
        </a>
        <!-- /.list-row__link -->
    </li>
    <li class="list-row__item">
        <a class="list-row__link" href="#">
            <div class="list-row__icon">
                <img src="https://placehold.it/65" class="icon-lg" alt="">
            </div>
            <!-- /.list-row__icon -->
            <div class="list-row__text">
                A shorter name
            </div>
            <!-- /.list-row__text -->
        </a>
        <!-- /.list-row__link -->
    </li>
    {% endfor %}
</ul>
<!-- /.list-row -->