<div class="sidebar-card">

    <ul class="sidebar-card__section">

        <li class="sidebar-card__item">
            <div class="sidebar-card__icon">
                <img src="{{ includePath }}images/icons/book.svg" alt="" class="img-fluid">
            </div>
            <!-- /.sidebar-card__icon -->
            <div class="sidebar-card__info">
                Big Data (15SPT17)
            </div>
            <!-- /.sidebar-card__info -->
        </li>
        <!-- /.sidebar-card__item -->

        <li class="sidebar-card__item">
            <div class="sidebar-card__icon">
                <img src="{{ includePath }}images/icons/calendar.svg" alt="" class="img-fluid">
            </div>
            <!-- /.sidebar-card__icon -->
            <div class="sidebar-card__info">
                <div class="font-weight-bold">Friday, June 23</div>
                <div>12 PM - 5 PM EST</div>
            </div>
            <!-- /.sidebar-card__info -->
        </li>
        <!-- /.sidebar-card__item -->

        <li class="sidebar-card__item">
            <div class="sidebar-card__icon">
                <img src="{{ includePath }}images/icons/map-pin.svg" alt="" class="img-fluid">
            </div>
            <!-- /.sidebar-card__icon -->
            <div class="sidebar-card__info">
                <a href="#">
                    <address>
                        6 Executive Park Dr NE,
                        <br> Atlanta,
                        <abbr title="Georgia">GA</abbr> 30329
                    </address>
                </a>
            </div>
            <!-- /.sidebar-card__info -->
        </li>
        <!-- /.sidebar-card__item -->

        <li class="sidebar-card__item">
            <div class="sidebar-card__icon">
                <img src="{{ includePath }}images/icons/clock.svg" alt="" class="img-fluid">
            </div>
            <!-- /.sidebar-card__icon -->
            <div class="sidebar-card__info">
                <div>80 Hours classroom</div>
                <div>(10 Saturdays)</div>
            </div>
            <!-- /.sidebar-card__info -->
        </li>
        <!-- /.sidebar-card__item -->

        <li class="sidebar-card__item">
            <div class="sidebar-card__icon">
                <img src="{{ includePath }}images/icons/bookmark.svg" alt="" class="img-fluid">
            </div>
            <!-- /.sidebar-card__icon -->
            <div class="sidebar-card__info">
                CEUs: 8.0
            </div>
            <!-- /.sidebar-card__info -->
        </li>
        <!-- /.sidebar-card__item -->

    </ul>
    <!-- /.sidebar-card__section -->

    <div class="sidebar-card__section bg-gray-200">
        <div class="sidebar-card__item d-flex justify-content-between">
            <div class="font-weight-bold">Tuition Cost:</div>
            <div>$3,995</div>
        </div>
        <!-- /.sidebar-card__item -->
        <div class="sidebar-card__item d-flex justify-content-between">
            <div class="font-weight-bold">Deposit:</div>
            <div>$500</div>
        </div>
        <!-- /.sidebar-card__item -->
        <a href="#" class="btn btn-secondary btn-lg btn-block">Register Course</a>
    </div>
    <!-- /.sidebar-card__section -->

</div>
<!-- /.sidebar-card -->