<div class="sidebar-card">

    <div class="sidebar-card__section">
        <div class="subheading h5">Sidebar Menu</div>
        <nav class="nav flex-column">
            {% for i in range(0,2) %}
            <a class="nav-link" href="#">Menu item</a>
            <a class="nav-link" href="#">Another menu item</a>
            {% endfor %}
            <a class="nav-link active" href="#">Active menu item</a>
            <a class="nav-link" href="#">Menu item</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.sidebar-section -->

    <div class="sidebar-card__section gradient-hz-blue text-white text-center">
        <p class="h6">Interested in learning more about ECE?</p>
        <a href="#" class="btn btn-warning btn-lg btn-block mt-3">Contact us now</a>
    </div>
    <!-- /.sidebar-card__section -->


</div>
<!-- /.sidebar-card -->