<!-- Quick Stats -->
<div class="stats stats-row">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            <h2 class="heading text-center text-lg-left">
				Comprehensive.<br>
				Accessible.<br>
				Reputable.
			</h2>
        </div>
        <!-- /.col-md-3 -->
        <div class="col-sm-4 col-lg-3">
            <div class="stats__item">
                <img class="stats__icon" src="{{ includePath }}images/icons/book-p.svg" alt="" />
                <div class="stats__bold">515</div>
                <div class="stats__text">Classes</div>
            </div>
            <!-- /.stats_item -->
        </div>
        <!-- /.col-sm-4 .col-md-3 -->
		<div class="col-sm-4 col-lg-3">
            <div class="stats__item">
                <img class="stats__icon" src="{{ includePath }}images/icons/users-p.svg" alt="" />
                <div class="stats__bold">20k+</div>
                <div class="stats__text">Alumni</div>
            </div>
            <!-- /.stats_item -->
        </div>
        <!-- /.col-sm-4 .col-md-3 -->
		<div class="col-sm-4 col-lg-3">
            <div class="stats__item">
                <img class="stats__icon" src="{{ includePath }}images/icons/license-p.svg" alt="" />
                <div class="stats__bold">XX</div>
                <div class="stats__text">Certificate Courses</div>
            </div>
            <!-- /.stats_item -->
        </div>
        <!-- /.col-sm-4 .col-md-3 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.stats .stats-row -->
