<!-- Quick Stats -->
<div class="stats stats-row">
    <div class="row">
        <div class="col-md-3">
            <h2 class="heading">Accessible. Engaging. Affordable.</h2>
        </div>
        <!-- /.col-md-3 -->
        {% for i in range(0,3) %}
        <div class="col-sm-4 col-md-3">
            <div class="stats__item">
                <img class="stats__icon" src="https://placehold.it/50" alt="" />
                <div class="stats__bold">452</div>
                <div class="stats__text">Courses</div>
            </div>
            <!-- /.stats_item -->
        </div>
        <!-- /.col-sm-4 .col-md-3 -->
        {% endfor %}
    </div>
    <!-- /.row -->
</div>
<!-- /.stats .stats-row -->