<!-- Tabs Featured -->
<div class="tabs">

    <!-- Tab menu-->
    <ul class="nav nav-tabs" id="tabSimple" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Simple Tab 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Simple Tab 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Simple Tab 3</a>
        </li>
    </ul>

    <!-- Tab content-->
    <div class="tab-content" id="tabSimpleContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
            <div class="wysiwyg">
                <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
                <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
            </div>
            <!-- /.wysiwyg -->
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
            <div class="wysiwyg">
                <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
            <div class="wysiwyg">
                <p>{% include "partials/wysiwyg/sentence-md.njk" %}</p>
                <p>{% include "partials/wysiwyg/sentence-lg.njk" %}</p>
                <p>{% include "partials/wysiwyg/sentence-sm.njk" %}</p>
            </div>
            <!-- /.wysiwyg -->
        </div>
        <!-- /.tab-pane -->
    </div>
</div>
<!-- /.tabs -->
