<!--  
#########################################
JQUERY 3.3.1
Bootstrap dependency
#########################################
-->
<script src="{{ includePath }}js/vendor/jquery/jquery.min.js"></script>

<!--  
#########################################
BOOTSTRAP 4.1 COMPONENTS
Include only the JS components needed
for the website to function
#########################################
-->
<script src="{{ includePath }}js/vendor/bootstrap/util.js"></script>
<script src="{{ includePath }}js/vendor/popper/popper.min.js"></script> <!-- POPPER.JS 1.14.1 - required for many BS popup components -->
<script src="{{ includePath }}js/vendor/popper/popper-utils.min.js"></script> <!-- POPPER.JS 1.14.1 - required for many BS popup components -->
<script src="{{ includePath }}js/vendor/bootstrap/tooltip.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/alert.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/button.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/carousel.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/collapse.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/dropdown.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/index.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/modal.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/popover.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/scrollspy.js"></script>
<script src="{{ includePath }}js/vendor/bootstrap/tab.js"></script>

<!--  
#########################################
PAYPAL - BOOTSTRAP ACCESSBILITY SUITE
This trimmed down file contains 
BS carousel accessibility features
#########################################
-->
<script src="{{ includePath }}js/vendor/paypal/bootstrap-accessibility.js"></script>

<!--  
#########################################
BOOTSTRAP BREAKPOINTS
#########################################
-->
<script src="{{ includePath }}js/if-b4-breakpoint.min.js"></script>

<!--  
#########################################
PRIMARY SITE JAVASCRIPT
This javascript is a combination of all
locally imported JS files.
#########################################
-->
<script src="{{ includePath }}js/site.js"></script>