<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  
#########################################
THEME COLOR
This color determines the color of the
web address bar in certain mobile
browsers including Firefox OS, Chrome,
Vivaldi, and Opera
#########################################
-->
<meta name="theme-color" content="#012169"> <!-- $emory-blue -->